@import '../../../../style/main_style.scss';



.hpf_sidebar_container{
    // width:200px;
    height:100%;
    left:0;
    display: flex;
    margin-top:10vh;
    flex-direction: column;
    align-items: center;
}

.hpf_sidebar_links_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hpf_sidebar_link{
    width:100%;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:$hpf_sidebar_link_font_size;
    margin-bottom:$hpf_sidebar_link_separation;
    color:$hpf_sidebar_link_color;
    font-weight:300;
    border:none;
    text-decoration: none;
}

.hpf_sidebar_link:hover{
    color:$hpf_sidebar_link_active_color;
    cursor:pointer;
    text-shadow: 2px 2px 4px $hpf_sidebar_link_shadow_color;
}

.hpf_sidebar_link.active{
    color:$hpf_sidebar_link_active_color;
    font-weight:400;
}

.hpf_logo_spacer{
    margin-bottom:20px;
}

.fakeLogo{
    font-size:$hpf_logo_size;
    font-family: 'impact';
    padding:0;
    margin:0;
    margin-block-start:0;
    margin-block-end:0;
    cursor: pointer;
}